[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-allauth = "*"
django-htmx = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
drf-yasg = "*"
djoser = "*"
django-cors-headers = "*"
social-auth-app-django = "*"
django-cleanup = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.14"
